@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="p-2">
            <h4 class="text-center">Bir Kullanici Getir</h4>
            <input type="text" id="kullaniciId" class="form-control" />
            <button type="button" id="birKullaniciGetir" class="btn btn-block btn-info">Getir</button>
        </div>

        <div class="p-2" id="birKullanici">

        </div>
    </div>


    <div class="col-md-6">
        <div class="p-2">
            <h4 class="text-center">Tüm Kullanicilari Getir</h4>
            <button type="button" id="tumKullanicilariGetir" class="btn btn-block btn-info">  Hepsini Getir</button>
        </div>

        <div class="p-2" id="kullaniciListesi">
            <div id="loader" class="d-flex align-items-center" style="display:none!important;">
                <strong>Yükleniyor Lütfen Bekleyiniz...</strong>
                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <input type="text" class="form-control" id="frmKullaniciId" />
        <input type="text" class="form-control" id="frmKullaniciAd" />
        <button type="button" id="kullaniciEkle" class="btn btn-block btn-info">Ekle</button>
    </div>
</div>



@section JavaScript{

    <script>
        $(document).ready(function () {
            $("#birKullaniciGetir").click(I => {
                let id = $("#kullaniciId").val();

                $.ajax({
                    contentType: "application/json; charset=Utf-8;",
                    dataType: "json",
                    type: "Get",
                    url: "/Home/GetById",
                    data: { kullaniciId: id },
                    success: function (yavuz) {
                        let donustu = jQuery.parseJSON(yavuz);
                        let htmlString = `<table class="table table-hover table-sm"> <tr> <th>Kullanıcı Id </th> <td>${donustu.Id}</td> </tr><tr> <th>Kullanıcı Ad </th> <td>${donustu.Ad}</td> </tr> </table>`;

                        $("#birKullanici").html(htmlString);
                    }
                });
            });


            $("#tumKullanicilariGetir").click(function () {
                $.ajax({
                    type: "Get",
                    dataType: "json",
                    contentType: "application/json; charset=Utf-8;",
                    url: "/Home/GetAll",
                    beforeSend: function () {
                        $("#loader").show();
                    },
                    success: function (data) {
                        $("#loader").hide();
                        let kullanicilar = jQuery.parseJSON(data);

                        let htmlString = "<table class='table table-hover table-sm'> <tr> <th> Kullanici Id</th> <th>Kullanici Ad </th> </tr>";
                        $.each(kullanicilar, (index, value) => {
                            htmlString += `<tr> <td>${value.Id} </td> <td>${value.Ad} </td> </tr>`
                        });
                        htmlString += "</table>";

                        $("#kullaniciListesi").html(htmlString);
                    }
                });
            });


            $("#kullaniciEkle").click(function () {
                let kullanici = {
                    Ad: $("#frmKullaniciAd").val(),
                    Id: $("#frmKullaniciId").val()
                };


                $.ajax({
                    type: "Post",
                    url: "/Home/Add",
                    data: kullanici,
                    success: function (gelenCevap) {
                        let gelenObje = jQuery.parseJSON(gelenCevap);

                        alert(gelenObje.Ad + " başarı ile eklendi");

                    }
                });
            });

        });
    </script>

} 